.input-container {
  margin-top: 5vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 30vh;
}

.search-input,
.search-book,
.search-output {
  width: 30vw;
  height: 4vh;
}

.search-input {
  padding: 0 10px;
}

.search-output {
  margin-top: 0px;
  height: 15vh;
  overflow-y: scroll;
  border: 1px solid lightgray;
  padding-inline-start: 0;
}

.search-book {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px;
}

.selected {
  background-color: rgb(187, 184, 184);
  cursor: pointer;
}

.selected-book {
  border: 1px solid black;
  border-radius: 5px;
  width: 80vw;
  margin: 0 auto;
  min-height: 50vh;
  padding: 20px;
}

.selected-book div {
  margin-bottom: 10px;
}

.subject {
  font-weight: bold;
}
