.checkout-btn {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  border-radius: 5px;
}

.cart__item {
  justify-content: center;
}

.cart__delete-btn {
  margin-left: 20px;
}

.cart {
  height: 55vh;
  overflow: scroll;
}

.cart__btn {
  width: 30px;
}
