#app {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60vw;
  height: 75vh;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(233, 233, 233);
}

ul {
  list-style-type: none;
}

h1 {
  padding-bottom: 20px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-right: 20px;
  margin-left: 20px;
  height: 100%;
}

.inventory-container,
.cart-container {
  position: relative;
  height: 100%;
}